# environment variables template for local development
# source this file using `export $(xargs <.env)`

DB_HOST=localhost
DB_PORT=5432
DB_NAME=5003-project-dev
DB_USER=postgres
DB_PASS=5003-project
DB_POOL_SIZE=1

# PYTEST_MODE=TRUE