# OS
**/.DS_Store

# vs code
*.code-workspace

# python
**/__pycache__/**

# timescaledb local storage 
src/db_timescale/storage/**
!src/db_timescale/storage/README.md
.env

# local stuff
local*.ipynb
.ipynb_checkpoints
